.app_login {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -300px;
    margin-top: 0px;
    margin-bottom: 5px;
    gap: 20px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd00;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .app_login input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 25px;
    background: #db2511;
    border: 1px solid #db2511;
    color: #fff;
    padding: 10px 20px;
  }
  
  .app_login input[type="submit"]:hover {
    background: #e3a11e;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  

  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 25px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px;
  }
