/*img {
    height: 100px;
    width: 100px;
}
*/

.Account {
    color:aliceblue;
    background-color: red;
    height: 100px;
    width: 400px;
    position: relative;
    display: block;
}

li {
    list-style-type: none;
}

.post:hover {
    cursor: pointer;
}
