.Contact-Information {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .Contact-Information label {
    text-align: left;
    display: block;
  }
  .Contact-Information textarea, .Contact-Information select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .Contact-Information button {
    background: #710505;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  