.App-profile {
  position: relative;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  content: block;
}

.App-header {
  justify-content: center;
}

.App-logo {
  display: block;
  margin: 0 auto;
  height: 50vmin;
  position: relative;
  top: -60px;
  pointer-events: none;
}


